**/.cache
**/.vscode
**/build
**/compile_commands.json
**/cmake-build-*
*.swo
*.swp
.gitconfig
.idea
/install/
/configs
/thirdparty/gtest
/thirdparty/benchmark
/thirdparty/GSL
# default presets can be locally modified to easy development,
# so force the file if changes need to be pushed
CMakePresets.json
CMakeUserPresets.json
*.AppImage
